    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        {% if 'success' in message|lower%}
        <div class="alert alert-success" role="alert">
            {{message}}
            <div style="clear: both; display: inline-block; float: right;">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% else %}
        <div class="alert alert-danger" role="alert">
            {{message}}
            <div style="clear: both; display: inline-block; float: right;">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}