{% extends 'layout.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="text-center">My Quiz Scores</h2>
    
    {% if scores %}
    <table class="table table-bordered mt-3">
        <thead>
            <tr>
                <th>Quiz Name</th>
                <th>Total Score</th>
                <th>Obtained Score</th>
                <th>Score percentage</th>
                <th>Time Taken</th>
            </tr>
        </thead>
        <tbody>
            {% for score in scores %}
            <tr>
                {%for quiz in quizzes%}
                    {%if quiz.id == score.quiz_id%}
                        <td>{{ quiz.quiz_name }}</td>
                    {%endif%}
                {%endfor%}
                <td>{{ score.total_score }}</td>
                <td>{{ score.obtained_score }}</td>
                <td>{{ '%.2f' | format(score.score_percentage) }}</td>
                <td>{{ score.time_taken if score.time_taken else "N/A" }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p class="text-center">You haven't attempted any quizzes yet.</p>
    {% endif %}
</div>
{% endblock %}
